@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,100;1,300&family=Poppins:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
:root{
  --primary-col:#F4931E;
  --secondary-col:#0D3E46;
  --gray-col:#617174;
  --olive-col:#9ECA9B;
}
.cl{
  background-color: #2f3839;
}
section{
    padding: 4rem 0 0 0;
}
.spin{
  animation: spin 2s  infinite linear;
}
.line{
  animation: line 2s infinite ease-in-out;
}
/* spin  */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes line {
  0%   {width:0%}
  25%  {width:25%;}
  50%  {width:50%;}
  75%  {width:75%;}
  100% {width:100%;}
}
/* cover page bubble blink animation  */
/* .zoom{
  animation: zoom 2s infinite  linear;
  transition: all .5s ease;
}
.bubble>div:nth-child(odd){
    animation-delay: 1s !important;
    animation: zoom 2.5s infinite  linear;
}
.bubble>div:nth-child(even){
  animation-delay: 1.5s !important;
  animation: zoom 3.4s infinite  linear;
}
@keyframes zoom {
  0%   {transform: scale(0%);opacity:0;}
  25%  {transform: scale(random(0,25%))  ;opacity:.2;transform:translateY(-10px);}
  50%  {transform: scale(random(0,50%))  ;opacity:.4;transform:translateY(-30px); }
  75%  {transform: scale(random(0,75%))  ;opacity:.2;transform:translateY(-50px); }
  100% {transform: scale(random(0,105%)) ;opacity:0; transform:translateY(-80px); }

} */

header{
    position: sticky;
    top:0;
    margin: auto;
    z-index: 2425;
}
.active{
    color: blue !important;
}
.title{
  position: relative;
  font-weight: 600;
  display: inline-block !important;
  color: var(--secondary-col);
}
.title span{
  color: var(--primary-col);
}
.title::after{
  content: "";
  position: absolute;
  top:100%;
  left: 0;
  border: 2px solid var(--secondary-col);
  width: 70%;
  border-radius: 10px;
}
mark,mark b{
    background-color: rgba(255, 242, 0,.9);
    padding: 0 2px;
}
.hide{
    opacity: 0;
    transition: all .8s ;
    filter: blur(3px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* Type Animations */
.typed-out{
    overflow: hidden;
    border-right: .15em solid var(--primary-col);
    white-space: nowrap;
    animation: 
      typing 3.5s  alternate-reverse 2s infinite  forwards,
      blink 1s infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink {
    from { border-color: transparent }
    to { border-color: var(--primary-col); }
  }
  /* carousel */
  .carousel {
    position: relative;
    height:auto;
    width: 100%;
    max-width:740px;
    margin: auto;    
  }
  .carousel .carousel-item{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-item img{
      width: 100%;
      height: 100%;
  }
  .carousel .carousel-item.active {
    display: block;
  }
  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.09);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 45px;
    font-size:25px;
  }
  .carousel button:hover{
      background-color: rgba(0, 0, 0, 0.4);
  }
  .carousel button.prev {
    left: 0px;
  }
  .carousel button.next {
    right: 0px;
  }